.iconContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f6;
  color: #9ca3af;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f6;
  color: #9ca3af;
}

.previewImage {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.videoPlayerContainer {
  width: 100%;
  height: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoPlayerContainer.vertical {
  height: 100%;
}

.videoErrorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f6;
  color: #9ca3af;
}

.videoLoadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9ca3af;
}